@{
    ViewBag.Title = "UserTickets";
}
@using Kendo.Mvc.UI
@model IEnumerable<NilexTicket.DB.Ticket>
<script>
    function openCloseButton(a) {
        $("#overlay").fadeIn(300);
        $.ajax({
            url: '/Admin/TicketStatusu?id=' + a,
            method: 'POST',
            success: function (result) {
                if (result) {
                    $("#btnStatus-" + a).removeClass("btn-success")
                    $("#btnStatus-" + a).addClass("btn-primary")
                    $("#btnStatus-" + a).text("Open")
                }
                else {
                    $("#btnStatus-" + a).removeClass("btn-primary")
                    $("#btnStatus-" + a).addClass("btn-success")
                    $("#btnStatus-" + a).text("Close")
                }
                $("#overlay").fadeOut(300);
            },
            error: function () {
                showErrorMessage("Error")
                $("#overlay").fadeOut(300);
            }
        });
    }
</script>

<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-head-line">User Tickets ( Admin )</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11">
            <div class="row">
                <span class="text-danger">
                    You need to view to answer
                </span>
                <hr>

                @(Html.Kendo().Grid<NilexTicket.DB.Ticket>()
                    .Name("Grid")
                    .Columns(columns => {
                                            columns.Bound(p => p.ID).Title("Ticket ID");
                                            columns.Bound(p => p.Status).Title("Status");
                                            columns.Bound(p => p.Priority).Title("Priority");
                                            columns.Bound(p => p.Title).Title("Title");
                                            columns.Bound(p => p.ID).ClientTemplate("<a href='" + @Url.Action("TicketDetail", "Admin", new { ID = "#=ID#" }) + "' class='btn btn-primary'><i class='fa fa-eye'></i>  Show</a>");
                    })
                    .Sortable()
                    .Scrollable(scr=>scr.Height(230))
                    .Filterable()
                    .Pageable(pageable => pageable
                        .PageSizes(new[] { 5, 10, 20, 50 })
                        .Info(true)
//.Messages(x => x.Display("{0}-{1} from {2} Cross Reference Records").Empty("No Results"))
                        .Enabled(true)
                        .PreviousNext(true)
                        .Input(true)
                        .Numeric(true)
                        .Refresh(true)
//.PageSizes(true)
                        .ButtonCount(5)
                        .Refresh(true)
                    )
                    .Filterable()
                    //.Groupable();  
                    .Groupable(g => g.Messages( m => m.Empty("")))
                    .Resizable(resize => resize.Columns(true))
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .Read(read => read.Action("Display_Details", "Admin"))
                        .PageSize(5).
                        ServerOperation(true)
                    ))

            </div>
        </div>
    </div>
</div>