@{
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nilex Ticket</title>
    <script src="~/Content/js/jquery-1.10.2.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/npatch.css" rel="stylesheet" />
    <script src="~/Content/js/login.js"></script>
    <script src="~/Content/js/jquery.validate.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
<div id="wrapper" style="background-color:#fff;">
    <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0; background-color:#333">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                Ticket System
            </a>
        </div>
        <span style="color:#efeaea;text-indent:10px;line-height:1.8">
            <br>
            &nbsp;&nbsp;  
        </span>
    </nav>
    <div id="page-wrapper" class="page-wrapper-cls">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-10">
                    <h4 class="page-head-line">Login</h4>
                </div>
                <div class="col-md-4">
                    <div class="alert alert-warning text-danger" id="login-Message" hidden></div>
                    <form action="/Home/Login/" method="post" onsubmit="return false">
                        <span class="error-class"></span>
                        <label>Username : </label>
                        <input type="text" name="Username" id="Username" class="form-control">
                        <label>Password :  </label>
                        <input type="password" name="Password" id="Password" class="form-control">
                        <br>
                        <input type="submit" class="btn btn-danger" id="btn-giris" value="Login">
                        <a href="~/Home/Register" style="float:right" class="btn btn-default">Register</a>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="~/Content/js/custom.js"></script>

<div id="overlay">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>
</body>
</html>
