@{
    ViewBag.Title = "Tickets";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@using Kendo.Mvc.UI
@model IEnumerable<NilexTicket.DB.Ticket>
<script src="~/Content/js/openCloseButton.js"></script>

<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-head-line">MY TICKETS</h1>
        </div>
    </div>

    @(Html.Kendo().Grid<NilexTicket.DB.Ticket>()
        .Name("Grid")
        .Columns(columns => {
            columns.Bound(p => p.ID).Title("Ticket ID");
            columns.Bound(p => p.Status).Title("Status");
            columns.Bound(p => p.Priority).Title("Priority");
            columns.Bound(p => p.Title).Title("Title");
            columns.Bound(p => p.ID).ClientTemplate("<a href='" + @Url.Action("TicketDetail", "User", new { ID = "#=ID#" }) + "' class='btn btn-primary'><i class='fa fa-eye'></i>  Show</a>");
        })
        .Sortable()
        .Scrollable(scr=>scr.Height(230))
        .Filterable()
        .Pageable(pageable => pageable
            .PageSizes(new[] { 5, 10, 20, 50 })
            .Info(true)
            //.Messages(x => x.Display("{0}-{1} from {2} Cross Reference Records").Empty("No Results"))
            .Enabled(true)
            .PreviousNext(true)
            .Input(true)
            .Numeric(true)
            .Refresh(true)
            //.PageSizes(true)
            .ButtonCount(5)
            .Refresh(true)
        )
        .Filterable()
        //.Groupable();  
        .Groupable(g => g.Messages( m => m.Empty("")))
        .Resizable(resize => resize.Columns(true))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("Display_Details", "User"))
            .PageSize(5).
            ServerOperation(true)
        ))
</div>