@{
    ViewBag.Title = "Tickets";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@using Kendo.Mvc.UI
@model IEnumerable<NilexTicket.DB.Ticket>
<script src="~/Content/js/openCloseButton.js"></script>

<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-head-line">MY TICKETS</h1>
        </div>
    </div>

    @(Html.Kendo().Grid(Model)
        .Name("Grid")
        .Columns(columns => {
            columns.Bound(p => p.ID).Title("Ticket ID");
            columns.Bound(p => p.Status).Title("Status");
            columns.Bound(p => p.Priority).Title("Priority");
            columns.Bound(p => p.Title).Title("Title");
            columns.Template(c => "<a href='"+ Url.Action("TicketDetail", "User")+"/"+ c.ID + "'>Show</a>").Title("Preview");

        })
        .Sortable()
        .Scrollable(scr=>scr.Height(230))
        .Filterable()
        .Pageable( pageable => pageable
            .Input(true)
            .Numeric(false)
        )
        .Filterable()
        //.Groupable();  
        .Groupable(g => g.Messages( m => m.Empty("")))
        .Resizable(resize => resize.Columns(true))
        )
     
</div>